// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th {
  vertical-align: middle;
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
  display:block;
  font-size:1.5em;
  margin:0.83em 0;
}

.title,.body,.submit {
  margin-bottom:10px;
}

h4 {
  font-weight:normal;
}

.flash {
  color:green;
}
